* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    --main-color: #006215;
    --transparant: rgba(255, 0, 0, 0);
}
/* .gulzar-regular {
    font-family: "Gulzar", serif;
    font-weight: 400;
    font-style: normal;
    } */
    a {
        text-decoration: none;
    }
    body {
    background-color: #006215;
    background-image: url(img/Background2.png);
    background-position: center top;
    max-width: 1440px;
    min-height: 1500px;
    padding: 0.05px;
    margin-inline: auto;
}

.flex-container {
    margin-inline: auto;
    /* padding-top: 1px; */
    margin-top: 50px;
    /* min-height: 100px; */
    background-color: var(--transparant);

    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    background-color: #E9ECD0;
    width: 250px;
    padding: 10px;
    /* flex: 1; */
    text-decoration: none; /* no underline */

    text-align: center;
    border-radius: 14px;
    font-size: xx-large;
    color: var(--main-color);
    
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}
.box:hover {
    outline: solid 7px #7dd48c;
    background-color: darken(var(--main-color), 10%);
}
.flex-container-form {
    max-width: 500px;
    padding: 50px 0;
    border-radius: 24px;

    background-color: #e9ecd0a9;
    color: var(--main-color);
}

input {
    background-color: whitesmoke;
    width: 350px;
    height: 70px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
input[type=submit] {
    padding: 10px;
    width: 110px;
    background-color: var(--main-color);
    color: white;
}